# Проект 1. Кто хочет стать миллионером кинопроката?

In [320]:
import numpy as np
import pandas as pd
import seaborn as sns
import collections
from itertools import combinations

In [321]:
imdb = pd.read_csv('movie_bd_v5.csv')
imdb.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
206,tt2870612,5000000,40100000,"As Above, So Below",Perdita Weeks|Ben Feldman|Edwin Hodge|FranÃ§oi...,John Erick Dowdle,The only way out is down.,When a team of explorers ventures into the cat...,93,Horror|Thriller,Legendary Pictures,8/14/2014,6.1,2014
1388,tt0398712,30000000,35294470,Assault on Precinct 13,Ethan Hawke|Laurence Fishburne|Gabriel Byrne|M...,Jean-FranÃ§ois Richet,Unite and fight.,"On New Year's Eve, inside a police station tha...",109,Thriller,Rogue Pictures|Why Not Productions|Liaison Fil...,1/19/2005,5.9,2005
591,tt0250310,11000000,23978402,Corky Romano,Chris Kattan|Vinessa Shaw|Peter Falk|Peter Ber...,Rob Pritts,Undercover and Out The Way!,"Corky Romano is a bumbling, simpleton, veterin...",86,Action|Comedy|Crime,Robert Simonds Productions|Touchstone Pictures,10/12/2001,4.4,2001
550,tt0202470,57000000,16991902,Rock Star,Mark Wahlberg|Jennifer Aniston|Jason Flemyng|D...,Stephen Herek,The story of a wanna be who got to be.,Rock Star tells the story of Chris Cole and a ...,105,Music|Drama|Comedy,Warner Bros. Pictures|Bel Air Entertainment,9/4/2001,5.9,2001
1356,tt0430105,45000000,92374674,Four Brothers,Mark Wahlberg|Tyrese Gibson|AndrÃ© Benjamin|Ga...,John Singleton,They came home to bury mom... and her killer,Four adopted brothers return to their Detroit ...,109,Action|Crime,Paramount Pictures|Di Bonaventura Pictures,8/11/2005,6.6,2005

In [322]:
imdb.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [323]:
answers = {} # создадим словарь для ответов

# добавим колонку 'profit' в датафрейм: 
imdb['profit'] = imdb['revenue'] - imdb['budget']

# отфильтруем фильмы 2008 года: 
imdb_2008 = imdb[imdb.release_year == 2008]

# отфильтруем фильмы с 2012 по 2014 год: 
imdb_1214 = imdb[(imdb.release_year >= 2012) & (imdb.release_year <= 2014)]

# разделим колонку с жанрами: 
imdb['separate_genres'] = imdb.genres.str.split('|').copy()

# раделим режиссеров: 
imdb['split_directors'] = imdb.director.str.split('|').copy()

# разделим компании фильмов: 
imdb['separate_companies'] = imdb['production_companies'].str.split('|').copy()

# разделим актерский состав: 
imdb['separate_actors'] = imdb['cast'].str.split('|').copy()

# база данных для обработки месяцев: 
imdb_month = imdb.copy()
imdb_month['release_date'] = imdb_month.release_date.str.split('/')
imdb_month['month'] = imdb_month['release_date']

#отфильтруем фильмы 2012 года
imdb_2012 = imdb[imdb.release_year == 2012].copy()

# фильтруем прибыльные фильмы и жанры: 
profitable_imdb = imdb[imdb.profit>0]
profitable_genres = profitable_imdb.genres

# высокобюджетные фильмы: 
high_budget = imdb[imdb.budget>imdb.budget.mean()].copy()

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [324]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

In [325]:
#фильтруем по максимальному бюджету, выводим название
max_budget = imdb[imdb.budget == imdb['budget'].max()].original_title 
max_budget

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [326]:
answers['2'] = 'Gods and Generals (tt0279111)'
# +

In [327]:
# находим максимальную длительность, выводим название
longest_movie = imdb[imdb.runtime == imdb['runtime'].max()].original_title 
longest_movie

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [328]:
answers['3'] = 'Winnie the Pooh (tt1449283)' 
# +

In [329]:
#находим минимальную длительность, выводим название
shortest_movie = imdb[imdb.runtime == imdb['runtime'].min()].original_title
shortest_movie

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [330]:
answers['4'] = '110'
# +

In [331]:
#находим среднюю длительность при помощи встроенной функции mean(), округляем 
mean_runtime = round(imdb['runtime'].mean())
mean_runtime

110

# 5. Каково медианное значение длительности фильмов?

In [332]:
answers['5'] = '107'
# +

In [333]:
# находим медианную длительность при помощи встроенной функции median, округляем
median_runtime = round(imdb['runtime'].median())
median_runtime

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [334]:
answers['6'] = 'Avatar (tt0499549)'
# +

In [335]:
#колонка profit в предобработке, находим максимальную прибыль, выводим название
most_profitable_film = imdb[imdb.profit == imdb.profit.max()].original_title
most_profitable_film

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [336]:
answers['7'] = 'The Lone Ranger (tt1210819)'
# +

In [337]:
# колонка profit в предобработке, находим максимальный убыток, выводим название
least_profitable_film = imdb[imdb.profit == imdb.profit.min()].original_title
least_profitable_film

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [338]:
answers['8'] = '1478'
# +

In [339]:
# фильтруем по плюсовой прибыли (revenue>budget), считаем количество фильмов при помощи встроенной функии count()
profitable_movies_amount = imdb[imdb.revenue > imdb.budget].imdb_id.count()
profitable_movies_amount

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [340]:
answers['9'] = 'The Dark Knight (tt0468569)'
# +

In [341]:
# в предобработке отфильтрованы фильмы 2008 года, из них выбран фильм с наибольшим возвратом (revenue), выведено название
highest_revenue_2008 = imdb_2008[imdb_2008.revenue == imdb_2008.revenue.max()].original_title
highest_revenue_2008

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [342]:
answers['10'] = 'The Lone Ranger (tt1210819)'
# +

In [343]:
# период 2012 - 2014 для уменьшения места указан как 1214, посчитан в предобработке
# среди фильмов 2012 - 2014 года выбран наиболее убыточный, выведено название
lowest_revenue_1214 = imdb_1214[imdb_1214.profit == imdb_1214.profit.min()].original_title
lowest_revenue_1214

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [344]:
answers['11'] = 'Drama'
# +

### Вариант 1

In [345]:
# в этом варианте используется модуль collections
genres = imdb.genres
c = collections.Counter()
for genre in genres: 
    genre = genre.split('|')
    for name in genre:
        c[name] += 1
print(c)

Counter({'Drama': 782, 'Comedy': 683, 'Thriller': 596, 'Action': 582, 'Adventure': 415, 'Crime': 315, 'Romance': 308, 'Family': 260, 'Science Fiction': 248, 'Fantasy': 222, 'Horror': 176, 'Mystery': 168, 'Animation': 139, 'Music': 64, 'History': 62, 'War': 58, 'Western': 19, 'Documentary': 8, 'Foreign': 2})

### Вариант 2 (предпочтительный)

In [346]:
# вариант 2 более компактный с использованием функций Pandas. 
# Separate_genres посчитаны в предобработке, разделены при помощи функции explode, посчитаны при помощи value_counts
genres_v2 = imdb.separate_genres.explode().value_counts()
genres_v2

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: separate_genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [347]:
answers['12'] = 'Drama'
# + (я не очень согласна с формулировкой, но из того что написано на Slack вроде имелось ввиду кол-во фильмов :))

### Вариант 1

In [348]:
# в первом варианте используется цикл for (в анализе данных желательно вместо циклов использовать Pandas)
for genre in list(c): #list(c) - это список жанров из предыдущего вопроса (вопрос 11, вариант 1)
    profit_genres_count = profitable_genres[genres.str.contains(genre) == True].count()
    print(genre, profit_genres_count)

Action 444
Adventure 337
Science Fiction 195
Thriller 446
Fantasy 188
Crime 231
Western 12
Drama 560
Family 226
Animation 120
Comedy 551
Mystery 119
Romance 242
War 41
History 46
Music 47
Horror 150
Documentary 7
Foreign 0

### Вариант 2 (предпочтительный)

In [349]:
#separate_genres посчитаны в предобработке, раздлены функцией explode и посчитаны при помощи value_counts
profitable_genres = profitable_imdb.separate_genres.explode().value_counts()
profitable_genres

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: separate_genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [350]:
answers['13'] = 'Peter Jackson'
# +

In [351]:
#split_directors посчитаны в предобработке, разделены при помощи explode в imdb_directors
imdb_directors = imdb.explode('split_directors')
#режиссеры сгруппированы для подсчета суммарных кассовых сборов, и отсортированы по revenue
directors_groups = imdb_directors.groupby('split_directors').sum().sort_values('revenue', ascending=False)
directors_groups

,budget,revenue,runtime,vote_average,release_year,profit
split_directors,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685
Christopher Nolan,1005000000,4167548502,1135,61.1,16057,3162548502
David Yates,775000000,4154295625,567,29.6,8037,3379295625
Michael Bay,1126000000,3886938960,1209,50.0,16063,2760938960
J.J. Abrams,740000000,3579169916,633,35.1,10054,2839169916
...,...,...,...,...,...,...
David MichÃ´d,12250000,2295423,100,6.0,2014,-9954577
Steven Shainberg,16800000,2281089,122,6.3,2006,-14518911
Paul Schrader,7000000,2062066,104,5.9,2002,-4937934
Keanu Reeves,25000000,2054941,105,5.6,2013,-22945059
Simon Hunter,8000000,2033165,111,5.1,2008,-5966835

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [352]:
answers['14'] = 'Robert Rodrigues'
# +

In [353]:
#split_directors в предобработке, отфильтрованы фильмы жанра Action, посчитано количество таких фильмов по режиссерам
action_directors = imdb[imdb.genres.str.contains('Action')].explode('split_directors').split_directors.value_counts()
action_directors

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Chris Columbus        1
Ben Garant            1
Gary Shore            1
Chris Williams        1
Pitof                 1
Name: split_directors, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [354]:
answers['15'] = 'Chris Hemsworth'
# +

In [355]:
#imdb_2012 и separate_actors в предобработке, актеры разделены при помощи explode и сгруппированы
cast_2012 = imdb_2012.explode('separate_actors').groupby('separate_actors').sum()
actor_2012 = cast_2012[cast_2012.revenue==cast_2012.revenue.max()] #находим самые высокие кассовые сборы в 2012
actor_2012

,budget,revenue,runtime,vote_average,release_year,profit
separate_actors,,,,,,
Chris Hemsworth,485000000,2027450773,458,24.8,8048,1542450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [356]:
answers['16'] = 'Matt Damon'
# +

In [357]:
#high_budget в предобработке, разделяем актеров, считаем количество фильмов с ними, выводим рейтинг
high_budget_actors = high_budget.explode('separate_actors').separate_actors.value_counts() 
high_budget_actors

Matt Damon                18
Adam Sandler              17
Angelina Jolie            16
Samuel L. Jackson         15
Eddie Murphy              15
                          ..
Catherine Bell             1
Troy Garity                1
Patrick Fugit              1
Edward Herrmann            1
Aishwarya Rai Bachchan     1
Name: separate_actors, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [358]:
answers['17'] = 'Action'
# +

### Вариант 1

In [359]:
#Считаем при помощи цикла for
Cage_genres = imdb[imdb['cast'].str.contains('Nicolas Cage')].genres
for item in list(c): #Все тот же перебор жанров из вопроса 11 (вариант 1)
    c3 = Cage_genres[genres.str.contains(item)==True].count()
    print(item, c3)

Action 17
Adventure 7
Science Fiction 4
Thriller 15
Fantasy 8
Crime 10
Western 0
Drama 12
Family 3
Animation 3
Comedy 6
Mystery 3
Romance 1
War 1
History 2
Music 0
Horror 1
Documentary 0
Foreign 0

### Вариант 2 (предпочтительный)

In [360]:
imdb_Cage = imdb[imdb['cast'].str.contains('Nicolas Cage')] #находим фильмы с Николасом Кейджем
Cage_genres_v2 = imdb_Cage.explode('separate_genres').separate_genres.value_counts() #считаем жанры с value_counts
Cage_genres_v2

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
Horror              1
War                 1
Romance             1
Name: separate_genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [361]:
answers['18'] = 'K-19: The Widowmaker'
# +

In [362]:
Paramount_pictures = imdb[imdb['production_companies'].str.contains('Paramount Pictures')] #Ищем фильмы от Paramount Pictures
# Ищем самый убыточный фильм от Paramount Pictures, фильтруем по минимальной прибыли
Paramount_failure = Paramount_pictures[Paramount_pictures.profit==Paramount_pictures.profit.min()].original_title
Paramount_failure

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [363]:
answers['19'] = '2015'
# +

In [364]:
sum_revenues = imdb.groupby(['release_year']).sum() # группируем по годам
max_revenue_year = sum_revenues[sum_revenues.revenue==sum_revenues.revenue.max()] #ищем максимальную прибыль за год
max_revenue_year

                  budget      revenue  runtime  vote_average       profit
release_year
2015          6780630004  25449202382    13355         755.2  18668572378

# 20. Какой самый прибыльный год для студии Warner Bros?

In [365]:
answers['20'] = '2014'
# +

In [366]:
wb = imdb[imdb.production_companies.str.contains('Warner Bros')] #фильтруем фильмы от Warner Bros (WB)
wb_years = wb.groupby(['release_year']).sum() #группируем фильмы от WB по годам
wb_profitable_year = wb_years[wb_years['profit']==wb_years['profit'].max()] #ищем суммарную макс.прибыль
wb_profitable_year

                 budget     revenue  runtime  vote_average      profit
release_year
2014          947600000  3243064519     1576          88.9  2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [367]:
answers['21'] = 'Сентябрь(9)'
# +

In [368]:
#imdb_month month в предобработке, выделяем месяц как первый (0) элемент в колонке 'release_date', используем lambda
imdb_month['month'] = imdb_month['release_date'].apply(lambda x: x[0]) 
imdb_month.month.value_counts() #подсчитываем количество фильмов в каждом месяце при помощи value_counts

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [369]:
answers['22'] = '450'
# +

In [370]:
#считаем сумму фильмов по летним месяцам (6,7,8)
imdb_summer = imdb_month[(imdb_month.month=='6')|(imdb_month.month=="7")|(imdb_month.month=="8")].month.count()
imdb_summer

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [371]:
answers['23'] = 'Peter Jackson'
# +

In [372]:
#фильтруем зимние месяцы, разделяем режиссеров при помощи explode, считаем фильмы при помощи value_counts
imdb_winter = imdb_month[(imdb_month['month']=='1')|(imdb_month['month']=='2')|(imdb_month['month']=='12')]
winter_directors = imdb_winter.explode('split_directors').split_directors.value_counts()
winter_directors

Peter Jackson         7
Steven Soderbergh     6
Clint Eastwood        6
Shawn Levy            4
Nancy Meyers          4
                     ..
Baltasar KormÃ¡kur    1
Taylor Hackford       1
Dave Meyers           1
Josh Trank            1
Charles Stone III     1
Name: split_directors, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [373]:
answers['24'] = 'Four By Two Productions'
# +

In [374]:
#считаем длину названий (ф-ция len), вносим в новую колонку, ищем максимальную длину 
imdb['length_title'] = imdb.original_title.apply(lambda x: len(x))
imdb[imdb.length_title == imdb.length_title.max()].explode('separate_companies')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,separate_genres,split_directors,separate_companies,separate_actors,length_title
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation|Four By...,11/2/2006,6.4,2006,243572744,[Comedy],[Larry Charles],Twentieth Century Fox Film Corporation,"[Sacha Baron Cohen, Ken Davitian, Luenell, Pam...",83
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation|Four By...,11/2/2006,6.4,2006,243572744,[Comedy],[Larry Charles],Four By Two Productions,"[Sacha Baron Cohen, Ken Davitian, Luenell, Pam...",83

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [375]:
answers['25'] = 'Midnight Picture Show'
# +

In [376]:
exploded_companies = imdb.explode('separate_companies') #разделяем компании при помощи explode
exploded_companies['overview_length'] = exploded_companies.overview.apply(lambda x: len(x)) #ищем длину описания
max_overview = exploded_companies.groupby('separate_companies').mean().sort_values('overview_length', ascending=False) 
max_overview

,budget,revenue,runtime,vote_average,release_year,profit,length_title,overview_length
separate_companies,,,,,,,,
Midnight Picture Show,15000000.0,3533227.0,98.0,5.7,2008.0,-11466773.0,23.0,1000.0
Room 9 Entertainment,6500000.0,24793509.0,92.0,7.1,2005.0,18293509.0,21.0,964.0
Brookwell-McNamara Entertainment,18000000.0,47088990.0,106.0,6.9,2011.0,29088990.0,11.0,936.0
Lions Gate Family Entertainment,20000000.0,39300000.0,88.0,5.5,2010.0,19300000.0,15.0,909.0
Crest Animation Productions,20000000.0,39300000.0,88.0,5.5,2010.0,19300000.0,15.0,909.0
...,...,...,...,...,...,...,...,...
London Boulevard,25000000.0,4644108.0,103.0,5.5,2010.0,-20355892.0,16.0,74.0
Henceforth,25000000.0,4644108.0,103.0,5.5,2010.0,-20355892.0,16.0,74.0
Phantom Four,16000000.0,76514050.0,87.0,4.9,2009.0,60514050.0,10.0,72.0
Empire Pictures,75000000.0,67631903.0,123.0,6.1,2001.0,-7368097.0,7.0,62.0
Motion Picture Corporation of America,20000000.0,8586376.0,94.0,4.5,2002.0,-11413624.0,9.0,59.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [377]:
answers['26'] = 'Inside Out', 'The Dark Knight', '12 Years a Slave'
# +

In [378]:
percent_border = np.quantile(imdb.vote_average, 0.99)
best_movies = imdb[imdb.vote_average >= percent_border] #фильтруем лучшие фильмы (99% квартиль)
best_movies

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,separate_genres,split_directors,separate_companies,separate_actors,length_title
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609,"[Comedy, Animation, Family]",[Pete Docter],"[Walt Disney Pictures, Pixar Animation Studios...","[Amy Poehler, Phyllis Smith, Richard Kind, Bil...",10
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015,68346473,"[Drama, Thriller, History]",[Tom McCarthy],"[Participant Media, Open Road Films, Anonymous...","[Mark Ruffalo, Michael Keaton, Rachel McAdams,...",9
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758,"[Drama, Thriller]",[Lenny Abrahamson],"[Element Pictures, No Trace Camping, A24, Dupe...","[Brie Larson, Jacob Tremblay, Joan Allen, Sean...",4
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480,"[Adventure, Drama, Science Fiction]",[Christopher Nolan],"[Paramount Pictures, Legendary Pictures, Warne...","[Matthew McConaughey, Jessica Chastain, Anne H...",12
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399,"[Action, Science Fiction, Adventure]",[James Gunn],"[Marvel Studios, Moving Picture Company (MPC),...","[Chris Pratt, Zoe Saldana, Dave Bautista, Vin ...",23
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014,487105443,"[Adventure, Family, Animation, Action, Comedy]","[Don Hall, Chris Williams]","[Walt Disney Pictures, Walt Disney Animation S...","[Scott Adsit, Ryan Potter, Daniel Henney, T.J....",10
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708,"[History, Drama, Thriller, War]",[Morten Tyldum],"[Black Bear Pictures, Bristol Automotive]","[Benedict Cumberbatch, Keira Knightley, Matthe...",18
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363,"[Mystery, Thriller, Drama]",[David Fincher],"[Twentieth Century Fox Film Corporation, Regen...","[Ben Affleck, Rosamund Pike, Carrie Coon, Neil...",9
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318,"[Comedy, Drama]",[Wes Anderson],"[Fox Searchlight Pictures, Scott Rudin Product...","[Ralph Fiennes, Tony Revolori, F. Murray Abrah...",24
155,tt2980516,15000000,121201940,The Theory of Everything,Eddie Redmayne|Felicity Jones|Harry Lloyd|Davi...,James Marsh,His Mind Changed Our World. Her Love Changed His.,A look at the relationship between the famous ...,123,Drama|Romance,Working Title Films,11/26/2014,7.8,2014,106201940,"[Drama, Romance]",[James Marsh],[Working Title Films],"[Eddie Redmayne, Felicity Jones, Harry Lloyd, ...",24
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,5/16/2014,7.8,2014,293151265,"[Romance, Drama]",[Josh Boone],"[Fox 2000 Pictures, Temple Hill Entertainment,...","[Shailene Woodley, Ansel Elgort, Nat Wolff, La...",22
283,tt0485947,47000000,3547209,Mr. Nobody,Jared Leto|Diane Kruger|Linh Äan Pháº¡m|Sarah ...,Jaco Van Dormael,"Nothing is real, everything is possible.",Nemo Nobody leads an ordinary existence with h...,141,Science Fiction|Drama|Romance|Fantasy,Pan EuropÃ©enne Production|Virtual Films,9/11/2009,7.8,2009,-43452791,"[Science Fiction, Drama, Romance, Fantasy]",[Jaco Van Dormael],"[Pan EuropÃ©enne Production, Virtual Films]","[Jared Leto, Diane Kruger, Linh Äan Pháº¡m, Sa...",10
316,tt1187043,9000000,70000000,3 Idiots,Aamir Khan|Kareena Kapoor|Madhavan|Sharman Jos...,Rajkumar Hirani,Don't BE A STUPID BE AN I.D.I.O.T.,In the tradition of â€œFerris Buellerâ€™s Day ...,170,Drama|Comedy|Romance,Vidhu Vinod Chopra Productions,12/23/2009,7.8,2009,61000000,"[Drama, Comedy, Romance]",[Rajkumar Hirani],[Vidhu Vinod Chopra Productions],"[Aamir Khan, Kareena Kapoor, Madhavan, Sharman...",8
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000,"[Action, Thriller, Science Fiction, Mystery, A...",[Christopher Nolan],"[Legendary Pictures, Warner Bros., Syncopy]","[Leonardo DiCaprio, Joseph Gordon-Levitt, Elle...",9
496,tt0120737,93000000,871368364,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,One ring to rule them all,"Young hobbit Frodo Baggins, after inheriting a...",178,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2001,7.8,2001,778368364,"[Adventure, Fantasy, Action]",[Peter Jackson],"[WingNut Films, New Line Cinema, The Saul Zaen...","[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",49
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,"[Drama, Action, Crime, Thriller]",[Christopher Nolan],"[DC Comics, Legendary Pictures, Warner Bros., ...","[Christian Bale, Michael Caine, Heath Ledger, ...",15
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2002,7.8,2002,847287400,"[Adventure, Fantasy, Action]",[Peter Jackson],"[WingNut Films, New Line Cinema, The Saul Zaen...","[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",37
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577,"[Drama, War]",[Roman Polanski],"[Bac Films, Canal+Polska, Heritage Films, Stud...","[Adrien Brody, Thomas Kretschmann, Frank Finla...",11
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,"[Adventure, Fantasy, Action]",[Peter Jackson],"[WingNut Films, New Line Cinema]","[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",45
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694,"[Crime, Drama, Comedy]",[Martin Scorsese],"[Paramount Pictures, Appian Way, EMJAG Product...","[Leonardo DiCaprio, Jonah Hill, Margot Robbie,...",23
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013,24351251,"[Romance, Science Fiction, Drama]",[Spike Jonze],[Annapurna Pictures],"[Joaquin Phoenix, Scarlett Johansson, Rooney M...",3
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000,"[Drama, History]",[Steve McQueen],"[Plan B Entertainment, Regency Enterprises, Ri...","[Chiwetel Ejiofor, Michael Fassbender, Lupita ...",16
1205,tt1392214,46000000,122126687,Prisoners,Hugh Jackman|Jake Gyllenhaal|Paul Dano|Maria B...,Denis Villeneuve,Every moment matters.,When Keller Dover's daughter and her friend go...,153,Drama|Thriller|Crime,Alcon Entertainment|Madhouse Entertainment|8:3...,9/18/2013,7.8,2013,76126687,"[Drama, Thriller, Crime]",[Denis Villeneuve],"[Alcon Entertainment, Madhouse Entertainment, ...","[Hugh Jackman, Jake Gyllenhaal, Paul Dano, Mar...",9
1213,tt0790636,5000000,55198285,Dallas Buyers Club,Matthew McConaughey|Jennifer Garner|Jared Leto...,Jean-Marc VallÃ©e,Sometimes it takes a hustler to change the world,Loosely based on the true-life tale of Ron Woo...,117,Drama|History,Universal Studios|Universal Pictures|Voltage P...,9/7/2013,7.8,2013,50198285,"[Drama, History]",[Jean-Marc VallÃ©e],"[Universal Studios, Universal Pictures, Voltag...","[Matthew McConaughey, Jennifer Garner, Jared L...",18
1444,tt0482571,40000000,109676311,The Prestige,Hugh Jackman|Christian Bale|Michael Caine|Scar...,Christopher Nolan,Are You Watching Closely?,A mysterious story of two magicians whose inte...,130,Drama|Mystery|Thriller,Touchstone Pictures|Syncopy,10/19/2006,7.8,2006,69676311,"[Drama, Mystery, Thriller]",[Christopher Nolan],"[Touchstone Pictures, Syncopy]","[Hugh Jackman, Christian Bale, Michael Caine, ...",12
1563,tt0338013,20000000,72258126,Eternal Sunshine of the Spotless Mind,Jim Carrey|Kate Winslet|Elijah Wood|Mark Ruffa...,Michel Gondry,I already forget how I used to feel about you.,"Joel Barish, heartbroken that his girlfriend u...",108,Science Fiction|Drama|Romance,Anonymous Content|This Is That Productions|Foc...,3/19/2004,7.8,2004,52258126,"[Science Fiction, Drama, Romance]",[Michel Gondry],"[Anonymous Content, This Is That Productions, ...","[Jim Carrey, Kate Winslet, Elijah Wood, Mark R...",37
1688,tt0469494,25000000,76181545,There Will Be Blood,Daniel Day-Lewis|Paul Dano|Dillon Freasier|Cia...,Paul Thomas Anderson,There Will Be Greed. There Will Be Vengeance.,"When ruthless oil prospector, Daniel Plainview...",158,Drama,Miramax Films|Ghoulardi Film Company|Paramount...,12/28/2007,7.8,2007,51181545,[Drama],[Paul Thomas Anderson],"[Miramax Films, Ghoulardi Film Company, Paramo...","[Daniel Day-Lewis, Paul Dano, Dillon Freasier,...",19
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096,"[Mystery, Thriller]",[Christopher Nolan],"[Summit Entertainment, Newmarket Capital Group...","[Guy Pearce, Carrie-Anne Moss, Joe Pantoliano,...",7

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [379]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint' # + Emma Watson
# +

In [380]:
c = 0 #задаем начальный счетчик
actor_pairs = []
for actors in imdb['separate_actors']: 
    result = combinations(actors, 2) # считаем комбинации из двух актеров по списку в одном фильме без перестановок
    for pair in result:
        actor_pairs.append(pair) #добавляем все пары в список
actor_pairs = [tuple(sorted(i)) for i in actor_pairs] #сортируем пары по алфавиту, чтобы ab было равно ba
c = collections.Counter(actor_pairs).most_common(4) # выбираем наибольший счетчик (таких пар несколько, спасибо Гарри Поттеру)
c

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6)]

# Submission

In [381]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodrigues',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь(9)',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ('Inside Out', 'The Dark Knight', '12 Years a Slave'),
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [382]:
# и убедиться что ничего не пропустил)
len(answers)

27