In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
imdb = pd.read_csv('movie_bd_v5.csv')
imdb.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1143,tt0329575,87000000,148336445,Seabiscuit,Jeff Bridges|David McCullough|Chris Cooper|Tob...,Gary Ross,The hopes of a nation rode on a long shot.,True story of the undersized Depression-era ra...,141,Drama|History,Universal Pictures|Spyglass Entertainment|The ...,7/22/2003,6.4,2003
1810,tt0160127,92000000,264105545,Charlie's Angels,Cameron Diaz|Lucy Liu|Drew Barrymore|Bill Murr...,McG,Get Some Action,Aspects of this take on the 1970s hit TV serie...,98,Action|Adventure|Comedy|Crime|Thriller,Columbia Pictures,11/2/2000,5.5,2000
1296,tt1206543,22000000,15400000,Out of the Furnace,Christian Bale|Zoe Saldana|Woody Harrelson|Sam...,Scott Cooper,Sometimes your battles choose you.,Two brothers live in the economically-depresse...,116,Thriller|Drama|Crime,Appian Way|Scott Free Productions|Relativity M...,12/6/2013,6.4,2013
587,tt0249478,75000000,54249294,Domestic Disturbance,John Travolta|Vince Vaughn|Teri Polo|Matt O'Le...,Harold Becker,He will do anything to protect his family.,A divorced father discovers that his 12-year-o...,89,Mystery|Thriller|Crime,Paramount Pictures,10/30/2001,5.4,2001
299,tt1139668,16000000,76514050,The Unborn,Odette Annable|Gary Oldman|Meagan Good|Cam Gig...,David S. Goyer,Evil will do anything to live.,A young woman fights the spirit that is slowly...,87,Horror|Thriller|Mystery,Rogue Pictures|Phantom Four|Platinum Dunes|Rel...,1/9/2009,4.9,2009

In [4]:
imdb.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов
# добавим колонку 'profit' в датафрейм: 
imdb['profit'] = imdb['revenue'] - imdb['budget']
# отфильтруем фильмы 2008 года: 
imdb_2008 = imdb[imdb.release_year == 2008]
# отфильтруем фильмы с 2012 по 2014 год: 
imdb_1214 = imdb[(imdb.release_year >= 2012) & (imdb.release_year <= 2014)]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

In [7]:
max_budget = imdb[imdb.budget==imdb['budget'].max()].original_title
max_budget

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
answers['2'] = 'Gods and Generals (tt0279111)'
# +

In [9]:
longest_movie = imdb[imdb.runtime == imdb['runtime'].max()].original_title
longest_movie

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = 'Winnie the Pooh (tt1449283)' 
# +

In [11]:
shortest_movie = imdb[imdb.runtime == imdb['runtime'].min()].original_title
shortest_movie

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = 110
# +

In [13]:
mean_runtime = round(imdb['runtime'].mean())
mean_runtime

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = 107
# +

In [15]:
median_runtime = round(imdb['runtime'].median())
median_runtime

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = 'Avatar (tt0499549)'
# +

In [17]:
most_profitable_film = imdb[imdb.profit == imdb.profit.max()].original_title
most_profitable_film

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = 'The Lone Ranger (tt1210819)'
# +

In [19]:
least_profitable_film = imdb[imdb.profit == imdb.profit.min()].original_title
least_profitable_film

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = 1478
# +

In [21]:
profitable_movies_amount = imdb[imdb.revenue > imdb.budget].count()
profitable_movies_amount

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = 'The Dark Knight (tt0468569)'
# +

In [23]:
highest_revenue_2008 = imdb_2008[imdb_2008.profit == imdb_2008.profit.max()].original_title
highest_revenue_2008

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = 'The Lone Ranger (tt1210819)'
# +

In [25]:
# период 2012 - 2014 для уменьшения места указан как 1214
lowest_revenue_1214 = imdb_1214[imdb_1214.profit == imdb_1214.profit.min()].original_title
lowest_revenue_1214

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [26]:
answers['11'] = 'Comedy'
# +

In [27]:
popular_genres = imdb.genres.value_counts()
popular_genres

Comedy                                       141
Drama                                        102
Comedy|Romance                                60
Drama|Romance                                 45
Horror|Thriller                               35
                                            ...
Crime|Drama|Comedy                             1
Mystery|Adventure|Comedy|Romance|Drama         1
Animation|Comedy|Family|Adventure|Fantasy      1
Drama|Thriller|Horror                          1
Comedy|Family|Romance|Fantasy                  1
Name: genres, Length: 652, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [ ]:
answer['13'] = 'Peter Jackson'
# +

In [67]:
director_groups = imdb.groupby(['director']).sum()
successful_director = director_groups[director_groups.revenue==director_groups.revenue.max()]
successful_director

,budget,revenue,runtime,vote_average,release_year,profit
director,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [0]:
answer ['14'] = ''

In [71]:
director_groups = imdb.groupby(['director']).groups

genres_groups = imdb.groupby(['genres']).groups
genres_groups.str.contains('Action')

AttributeError: 'dict' object has no attribute 'str'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

In [0]:
lala llalalla

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [28]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Comedy'}

In [29]:
# и убедиться что ни чего не пропустил)
len(answers)

11