In [123]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [124]:
imdb = pd.read_csv('movie_bd_v5.csv')
imdb.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1796,tt0881200,16000000,34786960,Ji jie hao,Hanyu Zhang|Ren Quan|Wang Baoqiang|Deng Chao|Y...,Feng Xiaogang,Assembly,Follows a soldier trying to gain recognition f...,124,Action|History,Huayi Brothers Media Corporation,10/9/2007,7.3,2007
886,tt0298203,41000000,215000000,8 Mile,Eminem|Mekhi Phifer|Brittany Murphy|Kim Basing...,Curtis Hanson,Every moment is another chance.,The setting is Detroit in 1995. The city is di...,110,Drama,Imagine Entertainment|Mikona Productions GmbH ...,11/8/2002,6.7,2002
1136,tt0318155,80000000,68514844,Looney Tunes: Back in Action,Brendan Fraser|Jenna Elfman|Steve Martin|Timot...,Joe Dante,Real life has never been so animated.,Bugs Bunny and Daffy Duck are up to their feud...,90,Animation|Comedy|Family,Lonely Film Productions GmbH & Co. KG.|Warner ...,11/14/2003,5.5,2003
157,tt0829150,70000000,215529201,Dracula Untold,Luke Evans|Sarah Gadon|Dominic Cooper|Art Park...,Gary Shore,Every bloodline has a beginning,"Vlad Tepes is a great hero, but when he learns...",92,Horror|Action|Drama|Fantasy|War,Universal Pictures|Legendary Pictures|Fuji Tel...,10/1/2014,6.1,2014
1319,tt0371724,50000000,104478416,The Hitchhiker's Guide to the Galaxy,Martin Freeman|Zooey Deschanel|Sam Rockwell|Mo...,Garth Jennings,Don't leave Earth without it.,Mere seconds before the Earth is to be demolis...,109,Adventure|Comedy|Family|Science Fiction,Spyglass Entertainment|Everyman Pictures|Hamme...,1/15/2005,6.6,2005

In [125]:
imdb.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [163]:
answers = {} # создадим словарь для ответов
# добавим колонку 'profit' в датафрейм: 
imdb['profit'] = imdb['revenue'] - imdb['budget']
# отфильтруем фильмы 2008 года: 
imdb_2008 = imdb[imdb.release_year == 2008]
# отфильтруем фильмы с 2012 по 2014 год: 
imdb_1214 = imdb[(imdb.release_year >= 2012) & (imdb.release_year <= 2014)]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [164]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

In [165]:
max_budget = imdb[imdb.budget==imdb['budget'].max()].original_title
max_budget

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [166]:
answers['2'] = 'Gods and Generals (tt0279111)'
# +

In [167]:
longest_movie = imdb[imdb.runtime == imdb['runtime'].max()].original_title
longest_movie

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [168]:
answers['3'] = 'Winnie the Pooh (tt1449283)' 
# +

In [169]:
shortest_movie = imdb[imdb.runtime == imdb['runtime'].min()].original_title
shortest_movie

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [170]:
answers['4'] = 110
# +

In [171]:
mean_runtime = round(imdb['runtime'].mean())
mean_runtime

110

# 5. Каково медианное значение длительности фильмов?

In [172]:
answers['5'] = 107
# +

In [173]:
median_runtime = round(imdb['runtime'].median())
median_runtime

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [174]:
answers['6'] = 'Avatar (tt0499549)'
# +

In [175]:
most_profitable_film = imdb[imdb.profit == imdb.profit.max()].original_title
most_profitable_film

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [176]:
answers['7'] = 'The Lone Ranger (tt1210819)'
# +

In [177]:
least_profitable_film = imdb[imdb.profit == imdb.profit.min()].original_title
least_profitable_film

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [178]:
answers['8'] = 1478
# +

In [206]:
profitable_movies_amount = imdb[imdb.revenue > imdb.budget].imdb_id.count()
profitable_movies_amount

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [180]:
answers['9'] = 'The Dark Knight (tt0468569)'
# +

In [181]:
highest_revenue_2008 = imdb_2008[imdb_2008.profit == imdb_2008.profit.max()].original_title
highest_revenue_2008

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [182]:
answers['10'] = 'The Lone Ranger (tt1210819)'
# +

In [183]:
# период 2012 - 2014 для уменьшения места указан как 1214
lowest_revenue_1214 = imdb_1214[imdb_1214.profit == imdb_1214.profit.min()].original_title
lowest_revenue_1214

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [184]:
answers['11'] = 'Comedy'
# +

In [185]:
popular_genres = imdb.genres.value_counts()
popular_genres

Comedy                                       141
Drama                                        102
Comedy|Romance                                60
Drama|Romance                                 45
Horror|Thriller                               35
                                            ...
Crime|Drama|Comedy                             1
Mystery|Adventure|Comedy|Romance|Drama         1
Animation|Comedy|Family|Adventure|Fantasy      1
Drama|Thriller|Horror                          1
Comedy|Family|Romance|Fantasy                  1
Name: genres, Length: 652, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [186]:
answers['13'] = 'Peter Jackson'
# +

In [205]:
director_groups = imdb.groupby(['director']).sum()
successful_director = director_groups[director_groups.revenue==director_groups.revenue.max()]
successful_director

,budget,revenue,runtime,vote_average,release_year,profit
director,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [188]:
answers['14'] = ''

In [189]:
director_groups = imdb.groupby(['director']).groups

genres_groups = imdb.groupby(['genres']).groups
genres_groups.str.contains('Action')

AttributeError: 'dict' object has no attribute 'str'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [190]:
Cage_genres = imdb[imdb['cast'].str.contains('Nicolas Cage')].genres
Cage_genres

168                    Thriller|Action|Science Fiction
276     Action|Adventure|Drama|Mystery|Science Fiction
330                                        Drama|Crime
336            Animation|Action|Family|Science Fiction
386                                       Action|Crime
392              Fantasy|Adventure|Action|Comedy|Drama
687                              Action|Crime|Thriller
727                      Fantasy|Thriller|Action|Crime
764                            Action|Fantasy|Thriller
784                           Adventure|Fantasy|Action
825                               Crime|Drama|Thriller
833                              Action|Drama|Thriller
914                                 Comedy|Crime|Drama
921                           Drama|Action|History|War
1033                       Action|Crime|Drama|Thriller
1224         Adventure|Animation|Comedy|Family|Fantasy
1280                                    Thriller|Crime
1346                              Crime|Drama|Thriller
1390                                      Comedy|Drama
1473         Fantasy|Adventure|Animation|Comedy|Family
1509                            Drama|History|Thriller
1568                 Adventure|Action|Thriller|Mystery
1675                 Action|Adventure|Mystery|Thriller
1683                    Thriller|Action|Fantasy|Horror
1722                   Action|Science Fiction|Thriller
1818                             Action|Crime|Thriller
1838                      Comedy|Drama|Romance|Fantasy
Name: genres, dtype: object

# 18. Самый убыточный фильм от Paramount Pictures

In [191]:
answers['18'] = 'K-19: The Widowmaker'
# +

In [192]:
Paramount_pictures = imdb[imdb['production_companies'].str.contains('Paramount Pictures')]
Paramount_failure = Paramount_pictures[Paramount_pictures.profit==Paramount_pictures.profit.min()].original_title
Paramount_failure

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [193]:
answers['19'] = 2015

In [194]:
sum_revenues = imdb.groupby(['release_year']).sum()
sum_revenues = sum_revenues[sum_revenues.revenue==sum_revenues.revenue.max()]
sum_revenues

                  budget      revenue  runtime  vote_average       profit
release_year
2015          6780630004  25449202382    13355         755.2  18668572378

# 20. Какой самый прибыльный год для студии Warner Bros?

In [195]:
answers['20'] = 2014

In [196]:
warner_bros = imdb[imdb.production_companies.str.contains('Warner Bros')]
warnerbros_years = warner_bros.groupby(['release_year']).sum()
profitable_year = warnerbros_years[warnerbros_years['profit']==warnerbros_years['profit'].max()]
profitable_year

                 budget     revenue  runtime  vote_average      profit
release_year
2014          947600000  3243064519     1576          88.9  2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [197]:
productive_month = imdb.groupby([''])

KeyError: ''

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

In [198]:
lala llalalla

SyntaxError: invalid syntax (<ipython-input-198-c73cd1bb2064>, line 1)

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [199]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Comedy',
 '13': 'Peter Jackson',
 '14': '',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014}

In [200]:
# и убедиться что ни чего не пропустил)
len(answers)

16