In [113]:
import pandas as pd 
import numpy as np

In [219]:
df = pd.read_csv('main_task_new.csv', sep=',')

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

## 4.1 Вопросы о ценах

In [116]:
df['Price Range'].value_counts()

$$ - $$$    18412
$            6279
$$$$         1423
Name: Price Range, dtype: int64

## 4.2 Вопросы о городах

In [117]:
df['City'].value_counts().count()

31

## 4.3. Вопросы о кухнях

In [118]:
df['Cuisine Style'].value_counts()

['Italian']                                                                                                 1032
['French']                                                                                                   805
['Spanish']                                                                                                  695
['French', 'European']                                                                                       405
['Cafe']                                                                                                     403
                                                                                                            ...
['Japanese', 'Sushi', 'Asian', 'Korean', 'Healthy']                                                            1
['Italian', 'French', 'American']                                                                              1
['Latin', 'Venezuelan', 'South American', 'Vegetarian Friendly', 'Gluten Free Options', 'Vegan Options']       1
['French', 'Bar', 'European', 'Pub', 'Brew Pub']                                                               1
['British', 'Grill', 'Steakhouse', 'Asian', 'Thai', 'Halal', 'Vegetarian Friendly', 'Vegan Options']           1
Name: Cuisine Style, Length: 9007, dtype: int64

In [119]:
df['Cuisine Style'][:][1:-1]
df['Cuisine Style'] = df['Cuisine Style'].apply(lambda x: x if pd.isna(x) else str(x).replace('[',''))
df['Cuisine Style'] = df['Cuisine Style'].apply(lambda x: x if pd.isna(x) else str(x).replace(']',''))

In [120]:
df = df.explode('Cuisine Style')

In [121]:
df['cuisine'] = df['Cuisine Style'].str.split(', ')

In [123]:
df

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,cuisine
0,id_5569,Paris,"'European', 'French', 'International'",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643,"['European', 'French', 'International']"
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032,NaN
2,id_352,London,"'Japanese', 'Sushi', 'Asian', 'Grill', 'Vegeta...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget..."
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776,NaN
4,id_615,Munich,"'German', 'Central European', 'Vegetarian Frie...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963,"['German', 'Central European', 'Vegetarian Fri..."
...,...,...,...,...,...,...,...,...,...,...,...
39995,id_499,Milan,"'Italian', 'Vegetarian Friendly', 'Vegan Optio...",500.0,4.5,$$ - $$$,79.0,"[['The real Italian experience!', 'Wonderful f...",/Restaurant_Review-g187849-d2104414-Reviews-Ro...,d2104414,"['Italian', 'Vegetarian Friendly', 'Vegan Opti..."
39996,id_6340,Paris,"'French', 'American', 'Bar', 'European', 'Vege...",6341.0,3.5,$$ - $$$,542.0,"[['Parisian atmosphere', 'Bit pricey but inter...",/Restaurant_Review-g187147-d1800036-Reviews-La...,d1800036,"['French', 'American', 'Bar', 'European', 'Veg..."
39997,id_1649,Stockholm,"'Japanese', 'Sushi'",1652.0,4.5,NaN,4.0,"[['Good by swedish standards', 'A hidden jewel...",/Restaurant_Review-g189852-d947615-Reviews-Sus...,d947615,"['Japanese', 'Sushi']"
39998,id_640,Warsaw,"'Polish', 'European', 'Eastern European', 'Cen...",641.0,4.0,$$ - $$$,70.0,"[['Underground restaurant', 'Oldest Restaurant...",/Restaurant_Review-g274856-d1100838-Reviews-Ho...,d1100838,"['Polish', 'European', 'Eastern European', 'Ce..."
39999,id_4824,Milan,'Spanish',4827.0,3.0,$$ - $$$,260.0,"[['Average', 'Nice an informal'], ['01/31/2016...",/Restaurant_Review-g187849-d1109020-Reviews-Ta...,d1109020,['Spanish']

In [129]:
cuisine_list = []
for row in df['cuisine']:
    if type(row)==list:
        for i in row:
            cuisine_list.append(i)

In [214]:
# Сколько всего кухонь
df['cuisine'].explode().value_counts().count()

125

In [213]:
# Среднее количество кухонь в одном ресторане
df['cuisine'].explode().index.value_counts().mean()

2.6224

## 4.4. Вопросы об отзывах

### Когда был оставлен самый свежий отзыв? Введите ответ в формате yyyy-mm-dd.

In [220]:
df['Reviews']

0        [['Good food at your doorstep', 'A good hotel ...
1        [['Unique cuisine', 'Delicious Nepalese food']...
2        [['Catch up with friends', 'Not exceptional'],...
3                                                 [[], []]
4        [['Best place to try a Bavarian food', 'Nice b...
                               ...
39995    [['The real Italian experience!', 'Wonderful f...
39996    [['Parisian atmosphere', 'Bit pricey but inter...
39997    [['Good by swedish standards', 'A hidden jewel...
39998    [['Underground restaurant', 'Oldest Restaurant...
39999    [['Average', 'Nice an informal'], ['01/31/2016...
Name: Reviews, Length: 40000, dtype: object

In [223]:
df['Reviews'] = df['Reviews'].apply(lambda x: x if pd.isna(x) else str(x).replace('[[',''))

In [224]:
df['Reviews'] = df['Reviews'].apply(lambda x: x if pd.isna(x) else str(x).replace(']]',''))

In [229]:
df['Reviews'] = df['Reviews'].apply(lambda x: x if pd.isna(x) else str(x).split('],['))

In [260]:
df['Reviews'] = df['Reviews'].apply(lambda x: x if pd.isna(x) else str(x).replace('[', ''))

In [262]:
df['Reviews'] = df['Reviews'].apply(lambda x: x if pd.isna(x) else str(x).replace(']', ''))

In [266]:
df['Reviews'] = df['Reviews'].apply(lambda x: x if pd.isna(x) else str(x).split(','))

In [285]:
df['Reviews'][11]

["'Not bad for Canary Wharf'",
 " 'To be a pilgrim'",
 " '12/15/2017'",
 " '11/22/2017'"]

In [290]:
df2 = pd.DataFrame(df['Reviews'].to_list(), columns=['r1','r2', 'r3','r4','r5','r6','r7','d1', 'd2'])

In [294]:
len(df['Reviews'][39995])

5

In [295]:
df['Reviews'][5]

["'There are better 3 star hotel bars'",
 " 'Amazing views",
 " friendly service and good q...'",
 " '09/16/2017'",
 " '05/31/2017'"]

In [305]:
import

,r1,r2,r3,r4,r5,r6,r7,d1,d2
0,'Good food at your doorstep','A good hotel restaurant','12/31/2017','11/20/2017',None,None,None,None,None
1,'Unique cuisine','Delicious Nepalese food','07/06/2017','06/19/2016',None,None,None,None,None
2,'Catch up with friends','Not exceptional','01/08/2018','01/06/2018',None,None,None,None,None
3,',',None,None,None,None,None,None,None
4,'Best place to try a Bavarian food','Nice building but improvements need to be...','11/18/2017','02/19/2017',None,None,None,None,None
...,...,...,...,...,...,...,...,...,...
39995,'The real Italian experience!','Wonderful food,wonderful experience','12/16/2017','11/12/2017',None,None,None,None
39996,'Parisian atmosphere','Bit pricey but interesting decor and good...','12/21/2017','12/12/2017',None,None,None,None,None
39997,'Good by swedish standards','A hidden jewel in the middle of Västertorp...','11/03/2016','04/12/2008',None,None,None,None,None
39998,'Underground restaurant','Oldest Restaurant in Warsaw','07/11/2017','06/18/2017',None,None,None,None,None
39999,'Average','Nice an informal','01/31/2016','07/04/2012',None,None,None,None,None

In [336]:
import re
result = re.findall(r'(\d{2})(\/)(\d{2})(\/)(\d{4})', str(df['Reviews'][1]))

In [327]:
df2 = pd.DataFrame(df['Reviews'].str.extract(r'(\d{2})(\/)(\d{2})(\/)(\d{4})'))

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
39995    NaN
39996    NaN
39997    NaN
39998    NaN
39999    NaN
Name: 0, Length: 40000, dtype: object